[Desktop Entry]
Name=OpenPlotter Dashboards
Exec=openplotter-dashboards
Icon=openplotter-dashboards
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter
